header{
    text-align: center;
}
.container{
    width: 50vw;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-template-rows: repeat(2, minmax(100px, 200px));
    background-color: black;
    grid-gap: 50px;
    
}

.projeto{
    background-color: blue;
    width: 100%;
    height: 100%;
}

